.banner-image{
    background-image:url(../../Images/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
}
.banner-items{
    position: relative;
    align-items: center;
}
.tab{
    text-align: center;
}
.footer{
    background-color: #282846;
    height: 250px;
    padding: 40px;
}
.footer h4{
    color: white;
}
.footer a{
    color: white;
}